*
{
    /*  Variables   */
    --BuscadorHeight: 6vh;
    --BuscadorBorderRadius: 2rem;
    --SearchListBorderRadius: 0 0 2rem 2rem;
    --HeaderHeight: 12vh;
}


@media screen and (min-width: 1200px)
{
    .contenedor
    {
        width: 33.333%;
    }
}

@media screen and (min-width: 800px) and (max-width: 1200px)
{
    .contenedor
    {
        width: 50%;
    }
}

#main-wrapper
{
    --RemainingHeight: calc(100vh - var(--HeaderHeight));
    min-height: var(--RemainingHeight);
    height: 100%;
}

main, #wrapper-imagenes, #imagenes
{
    min-height: inherit;
}

main
{
    width: 70%;
    flex-direction: column;
}

main, #buscador
{
    margin: auto;
}

#wrapper-buscador
{
    width: 100%;
    height: var(--BuscadorHeight);
    min-height: 40px;
    min-width: 300px;
    margin-bottom: 2rem;
}

#buscador
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 100%;
    width: 40%;
    min-width: inherit;
    border: var(--Border);
    border-radius: var(--BuscadorBorderRadius);
    background-color: var(--MainBackgroundColor);
}

#buscador.active-suggestions
{
    border-bottom: none;
    border-radius: 2rem 2rem 0 0;
}

#buscador.active-suggestions button
{
    border-radius: 0 2rem 0 0;
}

#buscador input, #search-list
{
    background-color: inherit;
}

#buscador input
{
    width: 80%;
    height: 80%;
    border: none;
    margin-left: 1rem;
    /*padding-block: 1rem;
    padding-inline: 1rem;*/
}

#buscador button
{
    width: 10%;
    height: 100%;
    border-radius: 0 2rem 2rem 0;
}

#search-list
{
    display: none;
    position:absolute;
    width: 100%;
    top: var(--BuscadorHeight);
    border-radius: var(--SearchListBorderRadius);
    border: var(--Border);
    border-top: none;
    z-index: 1;
}

#buscador.active-suggestions #search-list /*Cuando el buscador tiene las sugerencias activas, se muestra la search-list*/
{
    display: block;
}

.list-item
{
    /*background-color:#5237ec;*/
    list-style: none;
    font-weight:bolder;
    line-height: 30px;
    padding-block: 5px;
    padding-left: 1rem;
}

.list-item:last-of-type:hover
{
    border-radius: var(--SearchListBorderRadius);
}

#wrapper-imagenes
{
    width: 100%;
}

#imagenes
{
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contenedor
{
    margin-bottom: 1rem;
}

.contenedor img
{
    width: 100%;
    border-radius: 25%;
    padding: 10px;
}

.contenedor:hover img
{
    padding: 0;
    opacity: 0.8;
}

#sin-resultados, #quickview-holder
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#sin-resultados
{
    width: 100%;
    font-size: xx-large;
    height:inherit;
}

#quickview-holder
{
    left: 0;
    top: 0;
}

#quickview-img
{
    display: block;
    margin: auto;
    width: 80%;
    max-width: 700px;
    border-radius: 25%;
}

#quickview-close
{
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: x-large;
    color: #bbb;
}

#quickview-close:hover
{
    color: var(--inner-input-box-color);
}

.dark-background
{
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}


