/*---------------Fonts---------------------*/

@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Economica:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/*-----------------------------------------*/

*
{
    /*  Variables   */
    --InnerBodyBackground: linear-gradient(90deg, rgba(24,68,122,1) 0%, rgba(32,91,164,1) 43%, rgba(0,212,255,1) 100%);
    --FontColor:#1f1f1f;
    --MainBackgroundColor: #f4f9f9;
    --InnerBodyShadow: 0.5rem 0.5rem 1rem #525252;
    --HeaderHeight: 20%;
    --RemainingHeight: calc(100% - var(--HeaderHeight));
    /*--------------*/

    font-family: 'Roboto', sans-serif/*'League Spartan'*/;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--FontColor);
}

:hover
{
    transition-duration: 0.1s;
}

/*Para que no aparezca un contorno punteado al hacer click en algun link o boton*/
a, button, button:active, button:focus, button::-moz-focus-inner, a:active, a:focus, a::-moz-focus-inner
{
    -webkit-border-image: none;
    -o-border-image: none;
    -moz-border-image: none;
    border: none;
    outline: none;
}

a:link, a:visited
{ 
    color: none;
    text-decoration: none;
    cursor: auto;
}
  
a:link:active, a:visited:active
{ 
    color: none;
}

a
{
    text-decoration: none;

}

#main-wrapper, #header-wrapper
{
    width: 100%;
}

#header-wrapper
{
    height: var(--HeaderHeight);
}

#main-wrapper
{
    height: var(--RemainingHeight);
}

main, header
{
    width: 100%;
    height: 100%;
    display: flex;
}

header, header nav, header a
{
    align-items: center;
}

header
{
    position: relative;
    padding-inline: 8%;
}

header nav
{
    position: absolute;
    left: 20%;
    width: 25%;
    height: 50%;
    display: flex;
    justify-content: space-around;
}

header a
{
    display: flex;
    color: var(--FontColor);
    font-weight: bolder;
    height: 100%;
}

header a:hover
{
    border-radius: 2rem;
    background-color: var(--FontColor);
}

header a:hover i, header a:hover span
{
    color: var(--MainBackgroundColor);
}

header a[href = "index.html"]
{
    width: 25%;
    justify-content: center;
}

header a[href = "buscanos.html"]
{
    width: 50%;
    justify-content: space-evenly;
}

header .fas
{
    font-size: 1.5rem;
}

main
{
    background-color: var(--MainBackgroundColor);
}

#Logo
{
    height: 80%;
    filter: brightness(0.9) drop-shadow(1px 1px 1px rgb(92, 92, 92));
    -webkit-filter: brightness(0.9) drop-shadow(1px 1px 1px rgb(92, 92, 92));
}





