*
{
    /*  Variables   */
    --outer-input-box-color: rgba(62,27,255,1);
    --my-box-shadow2: 10px 10px 15px #2e2e2e;
    --circle-diameter: 50vw;
}

@media screen and (min-width: 1200px)
{
    h1
    {
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
    }

    #outer-wrapper-boton
    {
        flex-direction: column;
        width: max-content;
        left: 20%;
    }

    #half-circle
    {
        clip-path: circle(var(--circle-diameter) at right);
    }

    #img-wrapper
    {
        right: 10vh;
    }

    #product-bar
    {
        flex-direction: row;
        width: 100%;
    }

    #product-bar ul li img:hover
    {
        transform:translateY(-25%);
    }

}

@media screen and (max-width: 1200px)
{
    #outer-wrapper-boton
    {
        bottom: 20vh;
        flex-direction: row;
        justify-content: space-between;
        width: 60%;
        min-width: 335px;
    }

    section
    {
        justify-content: center;
    }

    #half-circle
    {
        clip-path: /*circle(var(--circle-diameter) at top)*/ellipse(75vw 45vh at top);
    }

    #img-wrapper
    {
        top: 10vh;
    }
}

#outer-wrapper-boton
{
    align-items: center;
}

section, #outer-wrapper-boton, #boton, #img-wrapper, #product-bar, #product-bar ul
{
    display: flex;
}

section, #boton
{
    position: relative;
}

#outer-wrapper-boton,/*#big-img, */#boton span, #boton a, #product-bar, #img-wrapper, #half-circle
{
    position: absolute;
}

#boton, #boton a, #boton a button
{
    color: #fff;
}

section
{
    height: var(--remaining-height);
    width: 100%;
    align-items: center;
}

h1
{
    color: #4f5355;
    font-family: "Bad Script", cursive/*'Playlist'*/;
}

#boton
{
    align-items: center;
    background: linear-gradient(0deg, var(--outer-input-box-color) 0%, rgba(145,124,255,1) 100%);
    border-radius: 30px;
    height: 60px;
    width: 200px;
}

#boton a
{
    right: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-decoration: none;
}

#boton a button
{
    height: inherit;
    width: inherit;
    padding: 0;
    border-radius: inherit;
    background:transparent;
    font-size: xx-large;
}

#boton a:hover button
{
    color: var(--outer-input-box-color);
    background-color: #fff;
}

#boton span
{
    font-size: xx-large;
    left: 40px;
}

#half-circle
{
    height: 100%;
    width: 100%;
    /*background-color: #9d7463;*/
    background: linear-gradient(90deg, rgba(181,40,60,1) 0%, rgba(147,21,44,1) 45%, rgba(79,36,44,1) 100%);
}

#half-circle.barbijos
{
    background: linear-gradient(90deg, rgba(181,40,60,1) 0%, rgba(147,21,44,1) 45%, rgba(79,36,44,1) 100%);
}

#half-circle.pilusos
{
   background: linear-gradient(90deg, rgba(92,237,218,1) 0%, rgba(34,170,152,1) 45%, rgba(10,128,112,1) 100%);
}

#img-wrapper
{
    z-index: 1;
    max-width: 100%;
    height: auto;
    width: 707px;
    /*min-width: 400px;*/
}

#big-img
{
    height: auto;
    width: auto;
    max-width: 100%;
}

#product-bar
{
    align-items: center;
    justify-content: center;
    bottom: 0;
    z-index: 2;
}

#product-bar ul
{
    list-style: none;
}

#product-bar ul li img:hover
{
    -webkit-filter: drop-shadow(var(--my-box-shadow2));
}

#product-bar ul li img:active
{
    width: 30vh;
}

#product-bar img
{
    width: 25vh;
}