@media screen and (min-width: 1200px)
{
    *
    {
        /*  Variables   */
        --circle-diameter: 100vh;
    }

    #wrapper-boton
    {
        top: 30%;
        left: 20%;
    }

    #half-circle
    {
        clip-path: circle(var(--circle-diameter) at right);
    }

    #big-img
    {
        right: 10vh;
    }

    #product-bar
    {
        flex-direction: row;
        bottom: 0;
        width: 100%;
    }

    #product-bar ul li img:hover
    {
        transform:translateY(-25%);
    }

}

@media screen and (max-width: 1200px)
{
    *
    {
        /*  Variables   */
        --circle-diameter: 75vh;
    }

    #half-circle
    {
        clip-path: circle(var(--circle-diameter) at top);
    }

    #big-img
    {
        top: 10vh;
    }
}

*
{
    /*  Variables   */
    --outer-input-box-color: rgba(62,27,255,1);
    /*--circle-diameter: 100vh;*/
    --my-box-shadow: 10px 10px 15px #2e2e2e;
}

section
{
    display: flex;
    height: var(--circle-diameter);
    width: 100%;
    position: relative;
}

#wrapper-boton, #big-img, #boton span, #boton a, #product-bar
{
    position: absolute;
}

#wrapper-boton
{
    width: max-content;
    /*top: 30%;
    left: 20%;*/
}

h1
{
    color: #4f5355;
    font-family: "Bad Script", cursive/*'Playlist'*/;
    margin-bottom: 20px;
}

#boton
{
    display: flex;
    position: relative;
    align-items: center;
    color: #fff;
    background: linear-gradient(0deg, var(--outer-input-box-color) 0%, rgba(145,124,255,1) 100%);
    border-radius: 30px;
    padding-block: 20px;
    height: 60px;
    width: 200px;
}

#boton a
{
    right: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-decoration: none;
    color:#fff;
}

#boton a button
{
    height: inherit;
    width: inherit;
    /*right: 20px;*/
    padding: 0;
    border-radius: inherit;
    background:transparent;
    border: none;
    color: #fff;
    font-size: xx-large;
}

#boton a:hover button
{
    background: #fff;
    color: var(--outer-input-box-color);
}

#boton span
{
    left: 40px;
}

#half-circle
{
    position: absolute;
    height: 100%;
    width: 100%;
    /*clip-path: circle(var(--circle-diameter) at right);*/
    background-color: /*#83acbd*/ #9d7463;
}

#big-img
{
    z-index: 1;
    align-self: center;
    width:auto;
    /*right: 10vh;*/
}

#product-bar
{
    display: flex;
    /*flex-direction: row;*/
    align-items: center;
    justify-content: center;
    /*bottom: 0;*/
    z-index: 2;
    /*width: 100%;*/
}

#product-bar ul
{
    display: flex;
    list-style: none;
}

#product-bar ul li img:hover
{
    /*transform:translateY(-25%);*/
    -webkit-filter: drop-shadow(var(--my-box-shadow));
}

#product-bar ul li img:active
{
    width: 30vh;
}

#product-bar img
{
    width: 25vh;
}