*
{
    /*  Variables   */
    --buscador-height: 40px;
    --search-list-border-radius: 0 0 20px 20px;
    --outer-input-box-color: rgba(62,27,255,1);
    --inner-input-box-color: #664aff;
    --HeaderHeight: 12vh;
    --RemainingHeight: calc(100% - var(--HeaderHeight));
}


@media screen and (min-width: 1200px)
{
    .contenedor
    {
        width: 33.333%;
    }
}

@media screen and (min-width: 800px) and (max-width: 1200px)
{
    .contenedor
    {
        width: 50%;
    }
}

/*#main-wrapper, #wrapper-buscador
{
    display: flex;
    justify-content: center;
    align-items: center;
}*/

main
{
    height: 80%;
    width: 70%;
    flex-direction: column;
}

main, #buscador
{
    margin: auto;
}

#wrapper-buscador
{
    width: 100%;
    height: 6vh;
    min-width: 315px;
}

#wrapper-imagenes, #buscador
{
    width: 100%;
}

#buscador input, #buscador button
{
    display: inline-flex;
} 

#buscador
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 40%;
    border: var(--Border);
    border-radius: 2rem;
}

#buscador input
{
    width: 80%;
    height: 80%;
    background-color: transparent;
    border: none;
    /*padding-block: 1rem;
    padding-inline: 1rem;*/
}

#imagenes
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contenedor
{
    width: 30%;
    margin-bottom: 1rem;
}

.contenedor img
{
    width: 100%;
    border-radius: 25%;
}

#sin-resultados
{
    min-height: 60vh;
    font-size: xx-large;
    text-align: center;
}

#quickview-holder
{
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
}

#quickview-img
{
    display: block;
    margin: auto;
    width: 80%;
    max-width: 700px;
    border-radius: 25%;
}

#quickview-close
{
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: x-large;
    color: #bbb;
}

#quickview-close:hover
{
    color: var(--inner-input-box-color);
}


