@media screen and (min-width: 768px)
{
    #circle
    {
        clip-path: /*circle(700px at bottom right)*/circle(35vw at center right);
    }

    #wrapper-boton
    {
        height: 50%;
        flex-direction: column;
        top: 30%;
        left: 20%;
    }

    #big-img
    {
        right: 2%;
        width: 45%;
        height: 60%;
    }
}

main, #inner-body-container
{
    position: relative;
}

#main-wrapper, #header-wrapper, main, header, #circle, #boton
{
    border-radius:inherit;
}

#inner-body-wrapper, #wrapper-boton
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#circle, #change-product
{
    display: flex;
    align-items: center;
}

#wrapper-boton, #circle, #big-img
{
    position: absolute;
}

#inner-body-wrapper
{
    width: 100w;
    height: 100vh;
    background: var(--InnerBodyBackground);
}

#inner-body-container
{
    background-color: var(--MainBackgroundColor);
    height: 75%;
    width: 75%;
    box-shadow: var(--InnerBodyShadow);
    border-radius: 2rem;
}

#circle
{
    top: 0;
    height: 100%;
    width: 100%;
}

.barbijos
{
    background: linear-gradient(90deg, rgba(181,40,60,1) 0%, rgba(147,21,44,1) 45%, rgba(79,36,44,1) 100%);
}

.pilusos
{
   background: linear-gradient(90deg, rgba(92,237,218,1) 0%, rgba(34,170,152,1) 45%, rgba(10,128,112,1) 100%);
}

#wrapper-boton
{
    justify-content: space-between;
    width: 270px;
}

#wrapper-boton h1
{
    font-family: 'Bad Script', cursive;
}

#boton
{
    display: flex;
    width: 60%;
    height: 40%;
    max-height: 60px;
    align-items: center;
    justify-content: space-evenly;
    border: 3px solid var(--FontColor);
    border-radius: 2rem;
}

#wrapper-boton h1, #boton span, #boton a i
{
    color: var(--FontColor);
}

#boton span, #boton a i
{
    font-weight: bolder;
}

#boton:hover
{
    background-color: var(--FontColor);
}

#boton:hover span, #boton:hover a i
{
    color: var(--MainBackgroundColor);
}

#big-img
{
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#big-img.barbijos
{
    background-image: url('../imagenes/barbijo_portada.webp');
}

#big-img.pilusos
{
    background-image: url('../imagenes/piluso_portada.webp');
}

#change-product
{
    width: 60%;
    height: 20%;
    justify-content: space-evenly;
}

#change-product button
{
    height: 20px;
    width: 20px;
    border: 3px solid var(--FontColor);
    border-radius: 50%;
}

#change-product button:hover
{
    height: 25px;
    width: 25px;
}
